export EDMOBJECTS=/dls_sw/epics/R3.14.8.2/extensions/templates/edm
export EDMPVOBJECTS=/dls_sw/epics/R3.14.8.2/extensions/templates/edm
export EDMFILES=/dls_sw/epics/R3.14.8.2/extensions/templates/edm
export EDMLIBS=/dls_sw/epics/R3.14.8.2/extensions/lib/linux-x86
export EDMHELPFILES=/dls_sw/epics/R3.14.8.2/extensions/html/edm
export EPICS_CA_MAX_ARRAY_BYTES=1000000
export PYTHONPATH=~/privatemodules/diamondtest/
search /home/fgz73762/privatemodules
#processes 3
